<h1><%= @post.title %></h1>
<p><i>by <%= @post.user.name %></i><p>

<p><%= @post.content %></p>

<p>Last updated: <%= @post.updated_at %>

<p>===</p>
<h2>Comments</h2>

<form action="" id="placeholder">
	<p>
	<label for="comment">Comment on this post</label><br/>
	<textarea name="comment" form="placeholder">Enter comment here...</textarea>
	</p>
	<input type="submit">
</form>

<p>---</p>

<h3>What others have to say...</h3>
<% @comments.each do |comment| %>
    <h4><%= comment.user.name %></h4>
    <p><%= comment.content %></p>
<% end %>
<p>===</p>
<p><%= link_to 'Edit', edit_post_path %> this post</p>
<p>===</p>
<%= link_to "<- Back to All Posts", posts_path %>